@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.col-11 {
    font-family: Poppins;
}


.nav-item .nav-link.active1 {
    color: #FFA901;
}

.judulcard {
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000000;
    margin-top: 24px;
}

.card.ms-4.shadow {
    border-radius: 15px;
}

.card-group {
    margin-bottom: 60px;
    padding-bottom: 40px;
}
.card.ms-4 .card-body {
    background-color: #FBD9D999; 
    padding-left:40px; 
    padding-right:40px; 
    border-radius: 15px
}


.card-title {
    padding-top: 10px;
    font-family: Poppins; 
    font-weight: 700; 
    font-size: 20px;
    font-style: normal; 
    display: flex; 
    justify-content: center; 
    align-items: center
}

.card-text.mt-4 {
    padding-bottom: 12px;
}
