@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav-item .nav-link.active3 {
    color: #FFA901;
}

.judul {
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 100px;
}

.row.mb-4 {
    font-family: Poppins;
    font-size: 14px;
    font-style: Normal;
}

.input-group.date .input-group-append {
    cursor: pointer;
}